@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

/* lightMode & DarkMode */

.lightMode {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 400;
    cursor: pointer;
    color:  #d3d3d3;
    /* background-color: black; */
    margin: 2px;
}

.darkMode, Link {
    font-family: 'Titillium Web', sans-serif;
    font-size: 400;
    cursor: pointer;
    color: white;
    background-color: black;
    background: cover;
    /* margin: 2px; */
    margin: 0px;
    padding: 0px;
}

a:visited {
    color: inherit;
}

/* log in and sign up pages  */

.bg {
    background-image: url('./images/background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.sign-up {
    background-image: url('./images/SignUp.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.sign-up-link {
    color: black;
    margin-left: 4px;
    margin-bottom: 5px;
}


.form {
    display: flex;
    flex-direction: vertical;
    background-color: #FAF9F6; opacity: 0.8;
    width: 25%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin: 15px;
    text-align: left;
}

.input-fields {
    margin: 5px;
    padding: 8px 16px 8px 16px;
    font-family: 'Titillium Web', sans-serif;
}

.sign-up-button {
    margin-top: 5px;
    margin-left: 4px;
}

.log-in-button {
    margin-left: 4px;
}

.nav-bar-logged-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    font-size: 1.2rem;
}

.nav-bar-logged-in {
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    font-size: 1.2rem;
}

.nav-link {
    margin: 5px;
    text-decoration: none;
}

.nav-bar-end {
    margin-left: auto;
}

a {
    border: none;
    color: #d3d3d3;
}

.driverImage {
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
}

/* driver info  */

.driver-surname {
    font-size: 600;
    margin-top: 0px;
}

.driver-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid #b1a7a6;
    border-radius: 2px;
}

.driver-card-info {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.nationality, .countryLocation {
    margin-top: 0px;
    font-style: italic;
    margin-bottom: 0px;
}

.nationality, .countryLocation, .user-info-para {
    background-color: black;
    padding: 0;
    border-radius: 0;
    font-size: 1rem;
    color: #b1a7a6;
}

.driver-surname, .countryName {
    margin-bottom: 0px;
}

td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}
 
table {
    border-collapse: collapse;
    width: 500px;
}
 
tbody tr:nth-child(odd) {
    background: #808080;
}
caption {
    font-size: 0.8rem;
}

.profile-photo {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.profilePage {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 30px 60px;
}

.newsCard {
    width: 300px;
    margin: 5px;
    border: 2px solid #b1a7a6;
    border-radius: 2px;
    text-align: center;
}

.newsCard img {
    width: 100%;
}

.newsPage {
    display: grid;
    margin: 15px;
}

.liked-driver-card{
    width: 300px;
    height: 500px;
}

.liked-driver-card img {
    width: 100%
}

.driverGrid, .constructorGrid, .mapsGrid, .user-likes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.constructor-logo {
    width: 400px;
    height: 400px;
    margin: 5px;
    text-align: center;
    margin: auto;
}

.constructor-logo-img {
    width: 300px;
    height: 300px;   
}

.mapsDiv {
    width: 300px;
    height: 500px;
    border: 2px solid #b1a7a6;
    border-radius: 2px;
    margin: 5px;
}

.recent-news {
    display: flex;
}

.liked-driver-news {
    width: 400px;
    padding-left: 15px;
    border-right: 1px solid #E0E0E0;
}

.newsGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    width: 100%;
    padding-bottom: 600px;
}

.driver-card-page {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.driver-card-page img {
    width: 700px;
    height: 700px;
}

.constructorPage {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(211,211,211, 0.5); */

}

button {
    color: white;
    border: none;
    background-color: gray;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

ul {
    list-style-type: none;
}

.user-likes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    width: 1000px;
}

.user-information-tab {
    padding-right: 30px;
    border-right: 1px solid #E0E0E0;
}

.hide-show-title {
    padding-left: 30px;
}

Link {
    border: none;
}




