@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

body, html {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 400;
    cursor: pointer;
    color: #a9a9a9;
    margin: 2px;
}

.bg {
    background-image: url('./images/background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.sign-up {
    background-image: url('./images/SignUp.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}


.form {
    display: flex;
    flex-direction: vertical;
    background-color: #FAF9F6; opacity: 0.8;
    width: 25%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.input-fields {
    padding: 3px;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.nav-bar-logged-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.nav-bar-logged-in {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.nav-link {
    margin: 5px;
    border: none;
    color: black;
}

.nav-bar-end {
    margin-left: auto;
}

button.input-fields {
    padding: 3px 6px;
}

.driverImage {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
}

.driver-surname {
    font-size: 600;
    margin-top: 0px;
}

.driver-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
}

.driver-card-info {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.nationality, .countryLocation {
    margin-top: 0px;
    font-style: italic;
    margin-bottom: 0px;
}

.driver-surname, .countryName {
    margin-bottom: 0px;
}

td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}
 
table {
    border-collapse: collapse;
}
 
tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}

.profile-photo {
    width: 20%;
    height: 20%;
}

.profilePage {
    display: flex;
}

.newsCard {
    width: 300px;
    margin: 5px;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
    text-align: center;
}

.newsCard img {
    width: 100%;
}

.newsPage {
    display: grid;
}

.liked-driver-card{
    width: 25%;
    height: 25%;
}

.liked-driver-card img {
    width: 100%
}

.driverGrid, .newsGrid, .constructorGrid, .mapsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.constructor-logo {
    width: 250px;
    height: 200px;
    margin: 5px;
    text-align: center;
}

.constructor-logo-img {
    width: 100%;
    height: 50%;   
}

.mapsDiv {
    width: 300px;
    height: 500px;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
    margin: 5px;
}

